{% extends "main_app/base.html" %}

{% load static %}

{% block specific_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style_II.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive2.css" %}" />
{% endblock specific_css %}

{% block header %}
    {% include "main_app/header2.html" %}
{% endblock header %}

{% block content %}
	  <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>Sobre Nosotros</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li><a href="{% url 'index' %}">Inicio</a> <i class="fa fa-angle-right"></i></li>
                                    <li>Sobre nosotros</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->
	<!-- aboutus_section start-->
    <div class="aboutus_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="about_text_wrapper">
                        <div class="section_heading section_2_heading">
                            <h2>Feria Laboral <span>FCFM</span></h2>
                        </div>
                        <p>La Feria Laboral FCFM de la Facultad de Ciencias Físicas y Matemáticas (FCFM) de la Universidad de Chile es una feria laboral donde tanto estudiantes como egresados de las 9 especialidades de ingeniería civil y Geología encuentran a empresas públicas y privadas, startups, fundaciones, entre otras para realizar sus prácticas profesionales, memorias de título o trabajar.</p>
                        <p>Hoy en día la Feria Laboral ha adquirido gran importancia al interior de la Facultad ya que desde el 2018 esta es parte de Redes Beauchef, un organismo estudiantil institucional que es parte de la Dirección de Vinculación Externa de la Facultad.</p>
                        <p>Redes Beauchef está conformado exclusivamente por estudiantes de la Facultad de distintas carreras impartidas en ella, por lo que tanto la Feria Laboral como otros proyectos de este organismo son planificados y ejecutados por estudiantes.</p>
                        <!--<ul>
                            <li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">We sell all over the world.</a>
                            </li>
                            <li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Satisfaction or money refund guaranteed.</a>
                            </li>
                            <li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Lifetime updates & support.</a>
                                    </li>
                        </ul>-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="about_image_wrapper">
                        <img class="img-responsive" src="{% static "images/content/register_bg.jpg" %}" alt="about-img">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <div class="about_text_wrapper abt_2_para">
                        <div class="section_heading section_2_heading">
                            <h2>Misión</h2>
                        </div>
                        <p><i>“Ser la primera opción de los estudiantes de la FCFM de la UChile al momento de insertarse al mundo laboral, ya sea en empresas, instituciones u organizaciones, tanto a nivel nacional como internacional.”</i></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                    <div class="about_text_wrapper abt_2_para">
                        <div class="section_heading section_2_heading">
                            <h2>Visión</h2>
                        </div>
                        <p><i>“Conectar al estudiante con el mundo laboral buscando coincidir sus necesidades con las de las empresas, instituciones u organizaciones, mediante la realización de capacitaciones que aporten a su formación profesional, la feria física y la plataforma laboral.”</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- jp best deal Wrapper Start -->
    <div class="jp_best_deal_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_best_deal_heading_wrapper">
                        <div class="jp_best_deal_heading">
                            <h4>Offering the best Deals</h4>
                        </div>
                    </div>
                </div>
                <div class="jp_career_slider_wrapper">
                    <div class="owl-carousel owl-theme">
                        <div class="item jp_recent_main">
                            <div class="jp_career_main_box_wrapper">
                                <div class="jp_career_img_wrapper">
                                    <img src="{% static "images/content/car_img1.jpg" %}" alt="career_img" />
                                </div>
                                <div class="jp_career_cont_wrapper">
                                    <p><i class="fa fa-calendar"></i>&nbsp;&nbsp; <a href="#">20 OCT, 2017</a></p>
                                    <h3><a href="#">Hey Seeker, It’s Time</a></h3>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                                </div>
                            </div>
                            <div class="jp_career_slider_bottom_cont">
                                <ul>
                                    <li><img src="{% static "images/content/blog_small_img.jpg" %}" alt="small_img" class="img-circle">&nbsp;&nbsp; <a href="#">Jhon Doe</a></li>
                                </ul>
                                <p><a href="#"><i class="fa fa-comments"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-magnifying-glass"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Search a Jobs</a></h4>
                            <p>Proin gravida nibh Aenean sollicitudin...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-users"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Apply a Job</a></h4>
                            <p>Proin gravida nibh Aenean sollicitudin...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-shield"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Job Security</a></h4>
                            <p>Proin gravida nibh Aenean sollicitudin...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-notification"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Job Notifications</a></h4>
                            <p>Proin gravida nibh Aenean sollicitudin...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-wallet"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Essay Pay Money</a></h4>
                            <p>Proin gravida nibh Aenean sollicitudin...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                        <div class="jp_best_deal_icon_sec">
                            <i class="flaticon-people"></i>
                        </div>
                        <div class="jp_best_deal_cont_sec">
                            <h4><a href="#">Happy Support</a></h4>
                            <p>Proin gravida nibh Aenean sollicitudin...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp best deal Wrapper End -->
    <!-- jp career Wrapper Start -->
    <div class="jp_career_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_hiring_slider_main_wrapper">
                        <div class="jp_career_slider_heading_wrapper">
                            <h2>Career advice</h2>
                        </div>
                        <div class="jp_career_slider_wrapper">
                            <div class="owl-carousel owl-theme">
                                <div class="item jp_recent_main">
                                    <div class="jp_career_main_box_wrapper">
                                        <div class="jp_career_img_wrapper">
                                            <img src="{% static "images/content/car_img1.jpg" %}" alt="career_img" />
                                        </div>
                                        <div class="jp_career_cont_wrapper">
                                            <p><i class="fa fa-calendar"></i>&nbsp;&nbsp; <a href="#">20 OCT, 2017</a></p>
                                            <h3><a href="#">Hey Seeker, It’s Time</a></h3>
                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                                        </div>
                                    </div>
                                    <div class="jp_career_slider_bottom_cont">
                                        <ul>
                                            <li><img src="{% static "images/content/blog_small_img.jpg" %}" alt="small_img" class="img-circle">&nbsp;&nbsp; <a href="#">Jhon Doe</a></li>
                                        </ul>
                                        <p><a href="#"><i class="fa fa-comments"></i></a></p>
                                    </div>
                                </div>
                                <div class="item jp_recent_main">
                                    <div class="jp_career_main_box_wrapper">
                                        <div class="jp_career_img_wrapper">
                                            <img src="{% static "images/content/car_img2.jpg" %}" alt="career_img" />
                                        </div>
                                        <div class="jp_career_cont_wrapper">
                                            <p><i class="fa fa-calendar"></i>&nbsp;&nbsp; <a href="#">20 OCT, 2017</a></p>
                                            <h3><a href="#">Hey Seeker, It’s Time</a></h3>
                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                                        </div>
                                    </div>
                                    <div class="jp_career_slider_bottom_cont">
                                        <ul>
                                            <li><img src="{% static "images/content/blog_small_img.jpg" %}" alt="small_img" class="img-circle">&nbsp;&nbsp; <a href="#">Jhon Doe</a></li>
                                        </ul>
                                        <p><a href="#"><i class="fa fa-comments"></i></a></p>
                                    </div>
                                </div>
                                <div class="item jp_recent_main">
                                    <div class="jp_career_main_box_wrapper">
                                        <div class="jp_career_img_wrapper">
                                            <img src="{% static "images/content/car_img3.jpg" %}" alt="career_img" />
                                        </div>
                                        <div class="jp_career_cont_wrapper">
                                            <p><i class="fa fa-calendar"></i>&nbsp;&nbsp; <a href="#">20 OCT, 2017</a></p>
                                            <h3><a href="#">Hey Seeker, It’s Time</a></h3>
                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                                        </div>
                                    </div>
                                    <div class="jp_career_slider_bottom_cont">
                                        <ul>
                                            <li><img src="{% static "images/content/blog_small_img.jpg" %}" alt="small_img" class="img-circle">&nbsp;&nbsp; <a href="#">Jhon Doe</a></li>
                                        </ul>
                                        <p><a href="#"><i class="fa fa-comments"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp career Wrapper End -->
    <!-- jp counter Wrapper Start -->
    <div class="jp_counter_main_wrapper">
        <div class="gc_counter_cont_wrapper">
            <div class="count-description">
                <span class="timer">2540</span><i class="fa fa-plus"></i>
                <h5 class="con1">Jobs Available</h5>
            </div>
        </div>
        <div class="gc_counter_cont_wrapper2">
            <div class="count-description">
                <span class="timer">7325</span><i class="fa fa-plus"></i>
                <h5 class="con2">Members</h5>
            </div>
        </div>
        <div class="gc_counter_cont_wrapper3">
            <div class="count-description">
                <span class="timer">1924</span><i class="fa fa-plus"></i>
                <h5 class="con3">Resumes</h5>
            </div>
        </div>
        <div class="gc_counter_cont_wrapper4">
            <div class="count-description">
                <span class="timer">4275</span><i class="fa fa-plus"></i>
                <h5 class="con4">Company</h5>
            </div>
        </div>
    </div>
    <!-- jp counter Wrapper End -->
    <!-- aboutus_section end -->
    <div class="aboutus_page_2_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="aboutus_text_section abt_txt_page_2">
                        <h2>Who We <span>Are</span></h2>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. iat nulla pariatur. Excepteur sint occaecat cupidatat non proluptate velit esse cillum dolore euur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Audit &amp; Assurance</li>
                                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Business Services</li>
                                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;IT Control Solutions</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Audit &amp; Assurance</li>
                                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Business Services</li>
                                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;IT Control Solutions</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="accordion_wrapper abt_page_2_wrapper">
                        <div class="panel-group" id="accordion_threeLeft">
                            <div class="panel panel-default">
                                <div class="panel-heading desktop">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftone" aria-expanded="true">
                                  Our Visions and Missions
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeftone" class="panel-collapse collapse" aria-expanded="true" role="tablist">
                                    <div class="panel-body">
                                        Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading horn">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftTwo" aria-expanded="false">
                                 Our Corporate Responsibility
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeftTwo" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree" aria-expanded="false">
                                Visual Page Builder
                              </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-default -->
                        </div>
                        <!--end of /.panel-group-->
                    </div>
                </div>
                <!--end of /.col-sm-6-->
            </div>
        </div>
    </div>
    <!--end of /.col-sm-6-->

{% endblock content %}

{% block specific_js %}
    <script src="{% static "js/jquery.magnific-popup.js" %}"></script>
    <script src="{% static "js/custom_II.js" %}"></script>
{% endblock specific_js %}
