<div class="mainmenu">
    <div class="gc_right_menu">
        <ul>
            <li id="search_button">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_3" x="0px" y="0px" viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve"><g><path id="search" d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z" fill="#23c0e9"/></g></svg>
            </li>
            <li>
                <div id="search_open" class="gc_search_box">
                    <input type="text" placeholder="Search here">
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </li>
        </ul>
    </div>
     <ul class="float_left">
        <li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  Sobre nosotros&nbsp;<i class="fa fa-angle-down"></i></a>
            <!-- mega menu start -->
            <ul>
                <li class="parent"><a href="{% url 'about' %}">Información general</a></li>
                <li class="parent"><a href="#">Equipo</a></li>
            </ul>
        </li>
        <li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  Job&nbsp;<i class="fa fa-angle-down"></i></a>
            <!-- mega menu start -->
            <ul>
                <li class="parent"><a href="listing_left.html">Listing-Left</a></li>
                <li class="parent"><a href="listing_right.html">Listing-Right</a></li>
                <li class="parent"><a href="listing_single.html">Listing-Single</a></li>

            </ul>
        </li>
        <li class="parent gc_main_navigation"><a href="#" class="gc_main_navigation">candidates &nbsp;<i class="fa fa-angle-down"></i></a>
            <!-- sub menu start -->
            <ul>

                <li class="parent"><a href="company_listing.html">Company-Listing</a></li>
                <li class="parent"><a href="company_listing_single.html">Company-Single</a></li>
                <li class="parent"><a href="candidate_listing.html">candidate-Listing</a></li>
                <li class="parent"><a href="candidate_profile.html">candidate-Profile</a></li>


            </ul>
            <!-- sub menu end -->
        </li>
        <li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  Pages&nbsp;<i class="fa fa-angle-down"></i></a>
            <!-- mega menu start -->
            <ul>
                 <li class="parent"><a href="about.html">About-Us</a></li>
                <li class="parent"><a href="404_error.html">404</a></li>
                <li class="parent"><a href="add_postin.html">Add-Posting</a></li>
                 <li class="parent"><a href="login.html">Login</a></li>
                <li class="parent"><a href="register.html">Register</a></li>
                <li class="parent"><a href="pricing.html">Pricing</a></li>
            </ul>
        </li>
        <li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">  Blog&nbsp;<i class="fa fa-angle-down"></i></a>
            <!-- mega menu start -->
            <ul>
                <li class="parent"><a href="blog_left.html">Blog-Left</a></li>
                <li class="parent"><a href="blog_right.html">Blog-Right</a></li>
                <li class="parent"><a href="blog_single_left.html">Blog-Single-Left</a></li>
                <li class="parent"><a href="blog_single_right.html">Blog-Single-Right</a></li>

            </ul>
        </li>
        <li class="gc_main_navigation parent"><a href="contact.html" class="gc_main_navigation">Contact</a></li>
    </ul>
</div>