{% extends "main_app/base.html" %}

{% load static %}

{% block specific_css %}

    <link rel="stylesheet" type="text/css" href="{% static "css/style_II.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive2.css" %}"/>

{% endblock specific_css %}

{% block header %}
    {% include "main_app/header2.html" %}
{% endblock header %}

{% block content %}
    <!-- jp register wrapper start -->
    <div class="register_section">
        <!-- register_form_wrapper -->
        <div class="register_tab_wrapper">
            <div class="container">
                {% if messages %}
                    <div class="row">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul id="tabOne" class="nav register-tabs">
                                <li class="active"><a href="#contentOne-1" data-toggle="tab">estudiante <br> <span>estoy buscando trabajo / práctica</span></a>
                                </li>
                                <li><a href="#contentOne-2" data-toggle="tab">empresa <br> <span>ofrecemos trabajo / práctica</span></a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active register_left_form" id="contentOne-1">

                                    <div class="jp_regiter_top_heading">
                                        <p>Todos los campos son obligatorios </p>
                                    </div>
                                    <form action="{% url 'register' %}" method="post" name="estudianteform"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="first_name"
                                                       value="{{ first_name|default_if_none:'' }}" placeholder="Nombre"
                                                       required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="last_name"
                                                       value="{{ last_name|default_if_none:'' }}"
                                                       placeholder="Apellido">
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="rut" value="{{ rut|default_if_none:'' }}"
                                                       placeholder="Rut">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <input type="email" name="email" value="{{ email|default_if_none:'' }}"
                                                       placeholder="Email">
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <input type="email" name="confirm-email" value=""
                                                       placeholder="Confirmar Email">
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <input type="password" name="password" value=""
                                                       placeholder="Contraseña">
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <input type="password" name="confirm-password" value=""
                                                       placeholder="Confirmar Contraseña">
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <select name="carrera">
                                                    <option value="" disabled
                                                            {% if carrera == '' %}
                                                            selected
                                                            {% endif %}>
                                                        Carrera
                                                    </option>
                                                    {% for carrera_val in carreras %}
                                                        <option value="{{ carrera_val }}"
                                                                {% if carrera == carrera_val %}
                                                                selected
                                                                {% endif %}>
                                                            {{ carrera_val }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <select name="empleo">
                                                    <option value="" disabled
                                                            {% if empleo == '' %}
                                                            selected
                                                            {% endif %}>
                                                        Tipo de Empleo Buscado
                                                    </option>
                                                    {% for empleo_val in empleos %}
                                                        <option value="{{ empleo_val }}"
                                                                {% if carrera == carrera_val %}
                                                                selected
                                                                {% endif %}>
                                                            {{ empleo_val }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <input type="number" name="ano-ingreso"
                                                       value="{{ ano_ingreso|default_if_none:'' }}"
                                                       placeholder="Año de Ingreso">
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <input type="number" name="ano-egreso"
                                                       value="{{ ano_egreso|default_if_none:'' }}"
                                                       placeholder="Año de Egreso">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--Form Group-->
                                            <div class="form-group col-md-12">
                                                <label for="perfil-pro">Perfil Profesional</label>
                                                <textarea name="perfil-pro" id="perfil-pro" rows="4"
                                                          style="height: auto !important;">{{ perfil_pro|default_if_none:'' }}</textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12 custom_input">
                                                <label for="cv">CV</label>
                                                <input type="file" name="cv" id="cv">
                                                <p>PDF - 1MB MÁXIMO</p>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12 custom_input">
                                                <label for="foto-perfil">Foto de Perfil</label>
                                                <input type="file" name="foto-perfil" id="foto-perfil">
                                                <p>JPG, PNG - 8MB MÁXIMO</p>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="check-box text-center">
                                                    <input type="checkbox" name="egresado" id="egresado"
                                                            {% if egresado %}
                                                           checked
                                                            {% endif %}>
                                                    &ensp;
                                                    <label for="egresado">Soy Egresado/a</label>
                                                </div>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="check-box text-center">
                                                    <input type="checkbox" name="spam" id="spam"
                                                            {% if spam %}
                                                           checked
                                                            {% endif %}>
                                                    &ensp;
                                                    <label for="spam">Deseo recibir SPAM</label>
                                                </div>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="check-box text-center">
                                                    <input type="checkbox" name="eula" id="eula"
                                                            {% if eula %}
                                                           checked
                                                            {% endif %}>
                                                    &ensp;
                                                    <label for="eula">He leído y estoy de acuerdo con los <a href="#"
                                                                                                             class="check_box_anchr">Términos
                                                        y Condiciones</a></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="login_btn_wrapper register_btn_wrapper login_wrapper ">
                                            <a href="#" onclick="document.estudianteform.submit()"
                                               class="btn btn-primary login_btn"> registrar </a>
                                        </div>

                                    </form>
                                    <div class="login_message">
                                        <p>¿Ya tienes cuenta? Inicia sesión<a href="#"> aquí </a></p>
                                    </div>
                                </div>

                                <div class="tab-pane fade register_left_form" id="contentOne-2">

                                    <div class="jp_regiter_top_heading">
                                        <p>Fields with * are mandetory </p>
                                    </div>
                                    <div class="row clearfix">
                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="field-name" value="" placeholder="Username*">
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="field-name" value="" placeholder="Email*">
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">

                                            <input type="password" name="field-name" value="" placeholder="password*">
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">

                                            <input type="password" name="field-name" value=""
                                                   placeholder="re-enter password*">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">

                                            <input type="text" name="field-name" value="" placeholder="phone">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">

                                            <input type="text" name="field-name" value="" placeholder="company name">

                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">

                                            <input type="text" name="field-name" value="" placeholder="website">

                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">

                                            <input type="text" name="field-name" value="" placeholder="address line">
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="check-box text-center">
                                                <input type="checkbox" name="shipping-option" id="account-option_2">
                                                &ensp;
                                                <label for="account-option_2">I agreed to the <a href="#"
                                                                                                 class="check_box_anchr">Terms
                                                    and Conditions</a> governing the use of jobportal</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="login_btn_wrapper register_btn_wrapper login_wrapper ">
                                        <a href="#" class="btn btn-primary login_btn"> register </a>
                                    </div>
                                    <div class="login_message">
                                        <p>Already a member? <a href="#"> Login Here </a></p>
                                    </div>

                                </div>

                            </div>
                            <p class="btm_txt_register_form">In case you are using a public/shared computer we recommend
                                that you logout to prevent any un-authorized access to your account</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp register wrapper end -->
{% endblock content %}

{% block specific_js %}
    <script src="{% static "js/jquery.magnific-popup.js" %}"></script>
    <script src="{% static "js/custom_II.js" %}"></script>
{% endblock specific_js %}